{
    GSThemeAuthors = (
	MagnatarRocket
    );
    GSThemeDetails = "A theme that attempts to ensure that GNUStep won't look out of place when pared with the WINGs of WMaker.";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = YES;
	NSMenuInterfaceStyle = NSNextStepInterfaceStyle;
    };
    GSThemeIcon = "Thematic.png";
    GSThemeLicense = "See included files for licence files.";
    GSThemeTiles = {
	GSScrollerHorizontalSlot = {
	    FileName = "GSScrollerHorizontalSlot.tif";
	    FillStyle = Repeat;
	    HorizontalDivision = 5;
	    VerticalDivision = 5;
	};
	GSScrollerVerticalSlot = {
	    FileName = "GSScrollerVerticalSlot.tif";
	    FillStyle = Repeat;
	    HorizontalDivision = 5;
	    VerticalDivision = 5;
	};
	NSMenuItem = {
	    FileName = "NSMenuItem.tif";
	    FillStyle = Scale;
	    HorizontalDivision = 10;
	    VerticalDivision = 10;
	};
    };
    GSThemeVersion = "0.0";
}